.button
{
    -fx-background-color : #0E2F55;
    -fx-background-radius: 0;
}
.button:hover
{
    -fx-background-color : #1D63B1;
    -fx-background-radius: 0;
}
.button:pressed
{
    -fx-background-color : #6897CB;
    -fx-background-radius: 0;
}